<!-- This example requires Tailwind CSS v2.0+ -->

<div class="flex flex-wrap py-2">
  <div class="w-full px-8">
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-green-400 rounded">
      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">

          <a class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" [routerLink]="'/home'">
           {{HEADER}}
          </a>
          <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="lg:flex lg:flex-grow items-center hidden" id="example-collapse-navbar">
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto left-14">
            <!-- {#each navlists as list} -->
            <li  class="mr-3" *ngFor="let item of NAVBAR_DATA">
              <a
                class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75"
                href="{{item.url}}"
              >
                {{item.label}}
              </a>
            </li>
          <!-- {/each} -->

          <li>
            <a class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75" [routerLink]="'/perfil'">
              <i class="fas fa-cog text-lg leading-lg text-white opacity-75"></i> Perfil
            </a>
          </li>

            <li>
              <a class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75" [routerLink]="'/auth/login'">
                <i class="fas fa-user text-lg leading-lg text-white opacity-75"></i> Conectar
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
