
  <div class="flex flex-wrap items-center mt-2">
    <div class="w-full px-8 ml-auto mr-auto ">

      <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-green-500 mb-3">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
          <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
            <a class="text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="#pablo">
              {{header}}
            </a>
            <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">

                      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto left-14">

                         <li  *ngFor="let list of NAVBAR_DATA" class="mr-3">
                          <a target="_self"
                             class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75"
                             href="{{list.url}}"
                             >
                              {{list.label}}
                             </a>
                          </li>


                        <li>
                          <a class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75" href="/settings">
                            <i class="fas fa-cog text-lg leading-lg text-white opacity-75"></i> Perfil
                           </a>
                         </li>

                          <li>
                             <a class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75" href="/auth/login">
                              <i class="fas fa-user text-lg leading-lg text-white opacity-75"></i> Conectar
                            </a>
                          </li>

                        </ul>
            <!-- <ul class="flex flex-col lg:flex-row list-none ml-auto">
              <li class="nav-item">
                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                  <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Share</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                  <i class="fab fa-twitter text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Tweet</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                  <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Pin</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                  <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Connectar</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                  <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Desconectar</span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
    </div>
  </div>
